@font-face {
  font-family: 'Cheese Toast';
  src: url('Cheese Toast.eot');
  src: url('Cheese Toast.eot?#iefix') format('embedded-opentype'),
       url('Cheese Toast.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CheeseToast';
  src: url('CheeseToast.svg#CheeseToast') format('svg'),
       url('CheeseToast.ttf') format('truetype'),
       url('CheeseToast.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

